################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/IronPython_Sample/v16
/IronPython2/bin/x86
/IronPython2/obj
/IronPython3/obj
